body{
    --primary-display: 'Work Sans', sans-serif;
    --primary-body: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.wrapper{
  background-color: antiquewhite;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  
}

h2{
    font-family: var(--primary-display);
    font-weight: bold;
    font-size: 2em;
}

h3{
    font-family: var(--primary-display);
    
    color:#616161;
    font-size: 1em;
}
header{
    display:flex;
    align-items: center;
    margin-top: 20px;
    padding: 1em 2em;
    justify-content: space-between;
    font-family: var(--primary-display);
}

/*                  B A N N E R S                  */

.banner{
    height: 10vh;
    width: 100vw;
    margin: auto;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #CFD8DC;
    font-family: var(--primary-body);
    
}


/*      H E R O     S E C T I O N */

.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    font-family: inherit;
    gap: 1em;
}

.aboutPage{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  font-family: inherit;
  background-color: white;
  gap: 1em;
  width: 75vw;
}

.aboutPage p{
  max-width: 75vw;
  font-family: var(--primary-body);
  line-height: 2em;
}



.hero img{
  max-width: 100vw;
  max-height: 70vh;
 
}


img{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

/*                Trending Section                */

.trending{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--primary-body);
    padding: 4em;
    width: 80vw;
    margin: 0 auto;
}

section.trending{
    align-items: center;
}



.title{
    grid-column: span 2;
    text-align: center;
}

.boxes{
    /* outline: solid; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.accent{
    color: goldenrod;
    font-weight: bold;
}

.description{
    font-size: small;
}

.readmore{
    color:darkred;
    text-decoration: underline;
    padding-bottom: 1em;
}

/* Featured Section */

.featured{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.features{
    display: flex;
    align-content: center;
    padding: 4em;
    width: 80vw;
}

.features p {
    font-weight: bold;
    font-family: var(--primary-body);
}



/*            Footer Section             */
footer{
    display: flex;
    background-color: black;
    color: gainsboro;
    width: 100vw;
    font-family: var(--primary-body);
    padding: 2em;
    line-height: 2em;
    font-weight: bold;

}

.socials{
    display:flex;
    justify-content: space-between;
   
}

/* L I N K       S T Y L I N G */

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:blue;
    
}

/*  Button Styling */
.dark{
    background-color: black; 
    border: solid 1px;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;

}
.light{
    background-color: white; 
    border: solid 1px;
    border-radius: 25px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;

}
nav{
    display:flex;
    gap: 2em;
}

li{
    list-style-type: none;
}

.home{
    font-size: 25px;
 
}

.more{
    font-weight: bold;
}

.hamburger-menu{
    display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}


.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 80vw;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: var(--primary-display);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}



/* M E D I A     Q U E R I E S */

@media only screen and (max-width: 790px) {
 
.desktop{
    display:none;
}
    /* Hamburger Menu */
 
.hamburger-menu{
    display: flex;
    height: 5vh;
    z-index: 1;
    
}

header{
   
  margin-top: 20px;
}

.hero img{
    max-width: 100vw;
    max-height: 80vh;
   
  }

.hero button{
    width: 50vw;
}

.trending{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
}

.wrapper{
  background-color: antiquewhite;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;

  
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
 
 
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
  
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 70vw;
  height: 100vh;
  margin: 0;
  margin-left: 30vw;
  padding: 80px 0;
  list-style: none;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
 

}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: var(--primary-display);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: var(--clr-tan);
  color:black;
 
}

.menu__item::after {
  visibility: none;
}

.member{
    display: block;
    padding: 12px 24px;
    max-width: 40ch;
    font-family: var(--primary-body);
}

.signIn{
    display: block;
    padding: 12px 24px;
    
}
/*  Trending and Features Section     */
.trending{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    font-family: var(--primary-body);
    padding: 1em;
    margin: 0 auto;
}


.features{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    font-family: var(--primary-body);
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}



}
@media only screen and (min-width: 791px) {

.featured img{
    height: 40vh;
  

}
    
}

/*      About Page      */
.links{
  font-weight: bold;
  font-size: large;
  color: darkgoldenrod;
  font-family: var(--primary-display);
}